/* Los estilos de tu proyecto */
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}

/*menu de navegacion*/
.navbar{
  padding: 2em;
  background-color: #FFF;
}

/*estilos globales del cuerpo de pagina*/
main{
  padding-top: 7em;
  color: #FFF;
}

/*seccion 1*/
#car{
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
  width: 100%;
  background-position: center 92%;
}

.block1{
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 2em;
  background-color: #FFC107;
  float: right;
  margin-top: 13em;
}

.block1 h1{
  line-height: 0.9em;
}

.block1 h3{
  display: inline-block;
  padding-right: 0.5em;
}

.block1 h4{
  display: inline-block;
  margin-left: 3em;
  margin-right: 3em;
}

.block1 img{
  height: 1.5em;
  margin-bottom: 0.6em;
}

.block1 button{
  margin-top: 1em;
  border: none;
}

.line{
  display: inline-block;
  border-bottom: 1px solid #FFF;
  width: 8em;
}


/*
estilos cuadros amarillos
*/
.blockOrange{
  background-color: #FFC107;
  height: auto;
  width: 100%;
}

/*
seccion 2
*/
/*
estilos a contenedor foto iphone
*/
.cellApp{
  margin-top: 3em;
  padding: 2em;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.cellApp h2{
  display: inline-block;
  margin-bottom: 1em;
}

.cellApp p{
  font-size: 1.5em;
  margin-bottom: 1em;
}

.cellApp img{
  padding-left: 3em;
}

.cellApp h3{
  text-align: center;
}

/*
seccion 3
*/
#driver {
  background-image: url(../assets/images/conduce.jpg);
  height: 31em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
#textSection3 {
  padding-left: 3em;
  padding-top: 7em;
  height: 31em;
  float: right;
  background-color: rgba(0000,0,0,0.5);
  padding-right: 0;
}
#textSection3 button {
  border: none;
  background-color: #FFC107;
  color: #fff;
}
#textSection3 p, #mapa p {
  font-size: 1.4em;
}

/*
seccion 4
*/
#mapa {
  padding-top: 3em;
}

#textMapa {
  padding-top: 3em;
  padding-left: 7em;
  line-height: 3em;
  padding-bottom: 5em;
}

#textMapa h2 {
  font-weight: bold;
}
#textMapa input {
  margin-left: 1em;
  background-color: #FFC107;
  width: 20em;
  border: 1px solid #fff;
  border-radius: 0.5em;
}
#another {
  padding-top: 3em;
}
#mapa button {
  padding-top: 0.5em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  margin-top: 3em;
  margin-left: 5em;
  border: none;
  font-weight: bolder;
}
input::-webkit-input-placeholder {
  color: white;
  padding-left: 1em;
}
/*
mapa
*/
iframe {
  padding: 0.5em;
  border: 1px solid #fff;
  margin-bottom: 2.5em;
  width: 80%;
  height: 34em;
}

/* footer */
footer {
  background-color: #2b2b2b;
  background-size: 100%;
  color: #fff;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 4em;
}
#socialMedia {
  padding-top: 2em;
}
#socialMediaUp {
  padding-bottom: 20%;
}
#links {
  padding-top: 20%;
}
.icon{
  color: #FFF;
  margin: 0.5em;
}
.download {
  margin-bottom: 2em;
}
footer a {
  font-size: 1.2em;
  color: #fff;
}
/*
estilos modal
*/
#username {
  margin-bottom: 2em;
}
#remember {
  color: #000;
}
.logIn {
  color: #FFC107;
}