/* Los estilos de tu proyecto */
* {
	padding: 0;
	margin: 0 auto;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
.seccion1 {
	background-image: url(../assets/images/taxi.jpg);
	width: 100%;
	height: 600px;
	background-size: cover;
}